* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #00152c;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid white;
  background-color: #00152c;
}

nav {
  display: flex;
  padding: 0 30px;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  align-items: center;
}


nav ul {
  margin-left: auto;
  display: flex;
  /* border: 1px solid white; */
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

nav ul li {
  list-style: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  /* not working */
  color: white;
}

nav ul li a:hover {
  color: #87C4FF;
}

.contact {
  color: black;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #87C4FF;
}

article {
  padding-top: 100px;
  width: 100%;
  height: 600vh;
}

#home {
  padding-left: 80px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

#home section {
  display: flex;
  flex-direction: column ;
  font-family: 'Alegreya SC', serif;
  font-size: 80px;
  line-height: 70px;
  padding-top: 100px;
  width: 50%;
  flex-wrap: wrap;
}

#home span {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 50px;
  color: rgb(175, 175, 175)
}

#home a {
  text-decoration: none;
  width: fit-content;
} 

#home a:hover {
  cursor: pointer;
} 